/*! destyle.css v4.0.1 | MIT License | https://github.com/nicolas-cusan/destyle.css */
/* Reset box-model and set borders */
/* ============================================ */
*,
::before,
::after {
  box-sizing: border-box;
  border-style: solid;
  border-width: 0;
  min-width: 0;
}

/* Document */
/* ============================================ */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Remove gray overlay on links for iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -webkit-tap-highlight-color: transparent;
  /* 3*/
}

/* Sections */
/* ============================================ */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/* Vertical rhythm */
/* ============================================ */
p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}

/* Headings */
/* ============================================ */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

/* Lists (enumeration) */
/* ============================================ */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Lists (definition) */
/* ============================================ */
dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

/* Grouping content */
/* ============================================ */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
  border-top-width: 1px;
  margin: 0;
  clear: both;
  color: inherit;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */
}

address {
  font-style: inherit;
}

/* Text-level semantics */
/* ============================================ */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Replaced content */
/* ============================================ */
/**
 * Prevent vertical alignment issues.
 */
svg,
img,
embed,
object,
iframe {
  vertical-align: bottom;
}

/* Forms */
/* ============================================ */
/**
 * Reset form fields to make them styleable.
 * 1. Make form elements stylable across systems iOS especially.
 * 2. Inherit text-transform from parent.
 */
button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none;
  /* 1 */
  -moz-appearance: none;
       appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  background: transparent;
  padding: 0;
  margin: 0;
  border-radius: 0;
  text-align: inherit;
  text-transform: inherit;
  /* 2 */
}

/**
 * Correct cursors for clickable elements.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  cursor: pointer;
}

button:disabled,
[type=button]:disabled,
[type=reset]:disabled,
[type=submit]:disabled {
  cursor: default;
}

/**
 * Improve outlines for Firefox and unify style with input elements & buttons.
 */
:-moz-focusring {
  outline: auto;
}

select:disabled {
  opacity: inherit;
}

/**
 * Remove padding
 */
option {
  padding: 0;
}

/**
 * Reset to invisible
 */
fieldset {
  margin: 0;
  padding: 0;
  min-width: 0;
}

legend {
  padding: 0;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * Correct the outline style in Safari.
 */
[type=search] {
  outline-offset: -2px;
  /* 1 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Fix font inheritance.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/**
 * Fix appearance for Firefox
 */
[type=number] {
  -moz-appearance: textfield;
}

/**
 * Clickable labels
 */
label[for] {
  cursor: pointer;
}

/* Interactive */
/* ============================================ */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/*
 * Remove outline for editable content.
 */
[contenteditable]:focus {
  outline: auto;
}

/* Tables */
/* ============================================ */
/**
1. Correct table border color inheritance in all Chrome and Safari.
*/
table {
  border-color: inherit;
  /* 1 */
  border-collapse: collapse;
}

caption {
  text-align: left;
}

td,
th {
  vertical-align: top;
  padding: 0;
}

th {
  text-align: left;
  font-weight: bold;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
}

body {
  font-size: 16px;
  line-height: 1.5;
  font-family: "PT Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color: #333333;
  margin: 0;
  padding: 0;
  position: relative;
}

a {
  color: inherit;
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

input {
  margin: 0;
  padding: 0;
}

textarea {
  padding: 0;
  font: inherit;
  color: inherit;
}

button {
  font: inherit;
  padding: 0;
  background-color: transparent;
  border: none;
  color: inherit;
  cursor: pointer;
}

.validate-feedback {
  font-size: 14px;
  color: #dc143c;
  margin-top: 12px;
}

.l-footer {
  font-size: 15px;
  background-color: #D9D9D9;
  width: 100%;
  padding: 20px 40px;
}
.l-footer .l-footer__inner {
  display: flex;
  justify-content: space-between;
}
.l-footer .l-footer__logo {
  display: flex;
  gap: 8px;
  align-items: center;
  height: 70px;
}
.l-footer .l-footer__logo img {
  width: 60px;
  height: 60px;
}
.l-footer .l-footer__nav {
  display: flex;
  align-items: center;
}
.l-footer .l-footer__nav .l-footer__nav-list {
  display: flex;
  align-items: center;
  gap: 70px;
}
.l-footer .l-footer__nav .l-footer__nav-icons {
  display: none;
  align-items: center;
  gap: 20px;
}
.l-footer .l-footer__copy {
  font-size: 12px;
  color: #4E4D4D;
  text-align: center;
  margin-top: 80px;
}

@media screen and (max-width: 1023px) {
  .l-footer .l-footer__nav .l-footer__nav-list {
    display: none;
  }
  .l-footer .l-footer__nav .l-footer__nav-icons {
    display: flex;
  }
  .l-footer .l-footer__logo {
    gap: 2px;
  }
  .l-footer .l-footer__logo img {
    width: 40px;
    height: 40px;
  }
  .l-footer .l-footer__logo p {
    font-size: 12px;
  }
}
@media screen and (max-width: 639px) {
  .l-footer {
    padding: 14px 18px;
  }
  .l-footer .l-footer__logo {
    gap: 0px;
  }
  .l-footer .l-footer__logo img {
    width: 35px;
    height: 35px;
  }
  .l-footer .l-footer__logo p {
    font-size: 10px;
  }
  .l-footer .l-footer__copy {
    font-size: 8px;
  }
}
.l-header {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 80px;
  padding: 0 40px;
  z-index: 1000;
}
.l-header .l-header__logo img {
  width: 60px;
  height: 60px;
}
.l-header .l-header__nav {
  display: flex;
  gap: 60px;
}
.l-header .l-header__nav .l-header__nav-list {
  display: flex;
  align-items: center;
  gap: 50px;
}
.l-header .l-header__nav .l-header__nav-icons {
  display: flex;
  align-items: center;
  gap: 20px;
}

@media screen and (max-width: 1023px) {
  .l-header {
    padding: 20px 24px;
  }
  .l-header .l-header__logo img {
    width: 50px;
    height: 50px;
  }
  .l-header .l-header__nav {
    display: none;
  }
}
@media screen and (max-width: 639px) {
  .l-header {
    height: 70px;
  }
  .l-header .l-header__logo img {
    width: 40px;
    height: 40px;
  }
}
.l-body {
  background-color: #F9F9F9;
}

.l-main {
  padding-top: 80px;
  padding-left: 7%;
  padding-right: 7%;
}

.l-completed {
  display: grid;
  grid-template-rows: 1fr auto;
  min-height: 100vh;
}

@media screen and (max-width: 639px) {
  .l-main {
    padding-left: 0;
    padding-right: 0;
    padding-top: 32px;
  }
  .l-section {
    padding: 0 5%;
  }
}
.l-hamburger {
  position: relative;
  display: none;
  cursor: pointer;
  z-index: 1000;
}
.l-hamburger .l-hamburger__bar {
  display: flex;
  width: 30px;
  height: 2px;
  margin: 5px auto;
  background-color: #333333;
  transition: all 0.5s ease;
}

.js-ham-active .l-hamburger__bar:nth-child(1) {
  transform: translateY(7px) rotate(-45deg);
}
.js-ham-active .l-hamburger__bar:nth-child(2) {
  opacity: 0;
}
.js-ham-active .l-hamburger__bar:nth-child(3) {
  transform: translateY(-7px) rotate(-135deg);
}

.l-hamburger-nav {
  display: none;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  transform: translateX(100%);
  width: 100%;
  min-height: 100vh;
  background-color: #D9D9D9;
  transition: transform 0.7s ease;
  z-index: 999;
}
.l-hamburger-nav .l-hamburger-nav__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
  font-size: 20px;
  text-align: center;
}

.js-ham-nav-active {
  transform: translateX(0);
}

@media screen and (max-width: 1023px) {
  .l-hamburger {
    display: block;
  }
  .l-hamburger-nav {
    display: flex;
  }
  .l-hamburger-nav .l-hamburger-nav__wrap {
    display: flex;
  }
}
.c-button {
  font-size: 24px;
  font-weight: normal;
  color: #555555;
  position: relative;
}
.c-button::after {
  content: "";
  position: absolute;
  bottom: 5px;
  left: 0;
  width: calc(100% + 20px);
  height: 1px;
  background-color: #555555;
  transition: width 0.5s ease;
}
.c-button:hover::after {
  width: calc(100% + 40px);
}

@media screen and (max-width: 639px) {
  .c-button {
    font-size: 20px;
  }
  .c-button::after {
    bottom: 3px;
  }
}
.c-title {
  display: flex;
  align-items: end;
  gap: 14px;
}
.c-title .c-title__main {
  font-size: 42px;
  font-weight: bold;
}
.c-title .c-title__sub {
  font-size: 16px;
  padding-bottom: 12px;
}

@media screen and (max-width: 1023px) {
  .c-title .c-title__main {
    font-size: 40px;
  }
  .c-title .c-title__sub {
    font-size: 14px;
  }
}
@media screen and (max-width: 639px) {
  .c-title .c-title__main {
    font-size: 28px;
  }
  .c-title .c-title__sub {
    font-size: 12px;
    padding-bottom: 8px;
  }
}
.c-showTitle {
  font-size: 32px;
  font-weight: bold;
  position: relative;
  display: inline-block;
  padding-bottom: 8px;
  margin-bottom: 12px;
}
.c-showTitle::after {
  content: "";
  position: absolute;
  bottom: 12px;
  left: 0;
  width: 100%;
  height: 10px;
  background-color: #40A2D8;
  opacity: 0.5;
  transform: translateY(50%);
  z-index: -1;
}

@media screen and (max-width: 639px) {
  .c-showTitle {
    font-size: 24px;
  }
  .c-showTitle::after {
    height: 8px;
  }
}
.c-productCard {
  width: 100%;
}
.c-productCard .c-productCard__img {
  display: block;
  width: 100%;
  position: relative;
  aspect-ratio: 340/240;
}
.c-productCard .c-productCard__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.c-productCard .c-productCard__img::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #FFFFFF;
  opacity: 0;
  transition: opacity 0.3s ease;
}
.c-productCard .c-productCard__img:hover::after {
  opacity: 0.3;
}
.c-productCard .c-productCard__title {
  font-size: 20px;
  margin-top: 12px;
}
.c-productCard .c-productCard__skill {
  font-size: 18px;
  color: #6D6D6D;
}

@media screen and (max-width: 1023px) {
  .c-productCard .c-productCard__title {
    font-size: 18px;
  }
}
@media screen and (max-width: 639px) {
  .c-productCard .c-productCard__skill {
    font-size: 16px;
  }
}
.c-socialIcon {
  width: 35px;
  height: 35px;
}

.c-scrollup {
  display: block;
  position: absolute;
  right: 3%;
}
.c-scrollup span {
  position: absolute;
  left: -20px;
  bottom: 10px;
  color: #333333;
  font-size: 0.7rem;
  letter-spacing: 0.05em;
  writing-mode: vertical-rl;
}
.c-scrollup::before {
  content: "";
  position: absolute;
  bottom: 40px;
  right: -4px;
  width: 1px;
  height: 20px;
  background: #333333;
  transform: skewX(23deg);
}
.c-scrollup::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 1px;
  height: 60px;
  background: #333333;
}

@media screen and (max-width: 639px) {
  .c-scrollup {
    right: 2%;
  }
  .c-scrollup span {
    left: -26px;
    bottom: 14px;
    font-size: 0.6rem;
  }
  .c-scrollup::before {
    right: 6px;
    bottom: 30px;
  }
  .c-scrollup::after {
    right: 10px;
    height: 50px;
  }
}
.c-typing .c-typing-effect {
  width: 17ch;
  animation: typing 3s steps(23), effect 0.5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 1px solid #333333;
  font-family: monospace;
  font-size: 1em;
}

@keyframes typing {
  from {
    width: 0;
  }
}
@keyframes effect {
  50% {
    border-color: transparent;
  }
}
@media screen and (max-width: 639px) {
  .c-typing .c-typing-effect {
    width: 23ch;
  }
}
.p-index-header {
  margin-top: 80px;
}
.p-index-header .p-index-header__title {
  font-size: 52px;
  font-weight: bold;
  color: #3E4550;
}
.p-index-header .p-index-header__sub-title {
  font-size: 18px;
  font-weight: bold;
  margin-top: 12px;
}
.p-index-header .p-index-header__img {
  display: flex;
  justify-content: end;
  -o-object-fit: cover;
     object-fit: cover;
  margin-top: 24px;
}
.p-index-header .p-index-header__img img {
  width: 72%;
  aspect-ratio: 875/400;
}

.p-index-about {
  margin-top: 100px;
}
.p-index-about .p-index-about__title {
  font-size: 48px;
  font-style: italic;
  margin-top: 16px;
}
.p-index-about .p-index-about__text-wrap {
  display: flex;
  align-items: end;
  gap: 60px;
}
.p-index-about .p-index-about__text {
  font-size: 16px;
  line-height: 28.8px;
  margin-top: 12px;
}

.p-index-product {
  margin-top: 140px;
}
.p-index-product .p-index-product__title {
  justify-content: flex-end;
}
.p-index-product .p-index-product__list {
  margin-top: 54px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  margin-bottom: 20px;
}

.p-index-contact {
  margin: 100px 0;
}
.p-index-contact .p-index-contact__form input[type=email],
.p-index-contact .p-index-contact__form textarea {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border-radius: 4px;
  background-color: #ECECEC;
}
.p-index-contact .p-index-contact__form .p-form__name {
  padding: 8px;
  margin-top: 5px;
  border-radius: 4px;
  background-color: #ECECEC;
}
.p-index-contact .p-index-contact__form span {
  font-size: 12px;
  color: #dc143c;
  margin-left: 4px;
}
.p-index-contact .p-index-contact__form .p-index-contact__form-wrap {
  display: flex;
  align-items: end;
  gap: 60px;
  margin-top: 24px;
}
.p-index-contact .p-index-contact__form .p-index-contact__form-list {
  width: 60%;
}
.p-index-contact .p-index-contact__form .p-index-contact__form-list .p-index-contact__form-item {
  margin-top: 20px;
}

@media screen and (max-width: 1023px) {
  .p-index-header .p-index-header__title {
    font-size: 48px;
  }
  .p-index-header .p-index-header__sub-title {
    font-size: 16px;
  }
  .p-index-header .p-index-header__img img {
    width: 82%;
  }
  .p-index-about .p-index-about__title {
    font-size: 42px;
  }
  .p-index-product .p-index-product__list {
    grid-template-columns: repeat(2, 1fr);
  }
  .p-index-contact .p-index-contact__form .p-index-contact__form-list {
    width: 78%;
  }
}
@media screen and (max-width: 639px) {
  .p-index-header .p-index-header__title {
    font-size: 28px;
    margin-left: 5%;
  }
  .p-index-header .p-index-header__sub-title {
    font-size: 14px;
    margin-left: 5%;
  }
  .p-index-header .p-index-header__img img {
    width: 100%;
  }
  .p-index-about .p-index-about__title {
    font-size: 28px;
  }
  .p-index-about .p-index-about__text {
    font-size: 14px;
  }
  .p-index-about .p-index-about__text-wrap {
    display: block;
  }
  .p-index-about a {
    display: block;
    margin-top: 12px;
  }
  .p-index-product {
    margin-top: 74px;
  }
  .p-index-product .p-index-product__list {
    grid-template-columns: 1fr;
    margin-top: 36px;
  }
  .p-index-contact {
    margin-top: 74px;
  }
  .p-index-contact .p-index-contact__form span {
    font-size: 10px;
  }
  .p-index-contact .p-index-contact__form .p-index-contact__form-list {
    width: 100%;
  }
  .p-index-contact .p-index-contact__form .p-form__name {
    width: 50%;
  }
  .p-index-contact .p-index-contact__form .p-index-contact__form-wrap {
    display: block;
  }
  .p-index-contact p {
    font-size: 14px;
  }
  .p-index-contact button {
    margin-top: 12px;
  }
}
.p-completed {
  width: 42%;
  margin-left: 10%;
  padding: 160px 0;
}
.p-completed .p-completed__text {
  font-size: 18px;
  line-height: 34.8px;
  margin-top: 36px;
}
.p-completed .p-completed__link {
  display: flex;
  justify-content: flex-end;
  margin-top: 12px;
}

@media screen and (max-width: 1023px) {
  .p-completed {
    width: 64%;
    margin-left: 7%;
    padding: 120px 0;
  }
  .p-completed .p-completed__text {
    font-size: 14px;
    line-height: 28.8px;
    margin-top: 24px;
  }
  .p-completed .p-completed__link {
    margin-top: 12px;
  }
}
@media screen and (max-width: 639px) {
  .p-completed {
    width: 77%;
    padding: 112px 3%;
  }
  .p-completed .p-completed__text {
    font-size: 12px;
    line-height: 24.8px;
    margin-top: 16px;
  }
  .p-completed .p-completed__link {
    display: block;
    margin-top: 12px;
  }
}
.p-about {
  width: 92%;
  margin: auto;
  padding: 140px 0;
}
.p-about .p-about__about .p-about__about-context {
  width: 58%;
  font-size: 18px;
  line-height: 32.8px;
  margin-top: 24px;
  margin-left: 24px;
}
.p-about .p-about__about .p-about__about-context .p-about__about-context-text {
  margin-top: 12px;
}
.p-about .p-about__about .p-about__about-img {
  display: flex;
  justify-content: flex-end;
  margin-top: 56px;
}
.p-about .p-about__skill {
  margin-top: 100px;
}
.p-about .p-about__skill .p-about-skill-title {
  display: flex;
  justify-content: flex-end;
}
.p-about .p-about__skill .p-about__skill-inner {
  display: flex;
  align-items: center;
  gap: 24px;
  margin-top: 80px;
}
.p-about .p-about__skill .p-about__skill-img {
  display: block;
  width: 54%;
  position: relative;
}
.p-about .p-about__skill .p-about__skill-img img {
  width: 100%;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
  aspect-ratio: 540/343;
}
.p-about .p-about__skill .p-about__skill-context {
  width: 46%;
  font-size: 18px;
}
.p-about .p-about__skill .p-about__skill-context .p-about__skill-context-list .p-about__skill-context-list-item {
  margin-top: 16px;
}
.p-about .p-about__career {
  margin-top: 80px;
}
.p-about .p-about__career .p-about__career-timeline {
  position: relative;
  padding: 0 60px;
  margin-top: 24px;
}
.p-about .p-about__career .p-about__career-timeline::before {
  content: "";
  position: absolute;
  left: 142px;
  top: 0;
  bottom: 0;
  width: 2px;
  background-color: #487A96;
  opacity: 0.8;
}
.p-about .p-about__career .p-about__career-timeline .p-about__career-timeline-list .p-about__career-timeline-list-item {
  position: relative;
  margin-top: 48px;
  display: flex;
  align-items: center;
}
.p-about .p-about__career .p-about__career-timeline .p-about__career-timeline-list .p-about__career-timeline-list-item .p-about__career-timeline-list-item-date {
  display: flex;
  justify-content: center;
  width: 100px;
  position: relative;
  padding-right: 60px;
}
.p-about .p-about__career .p-about__career-timeline .p-about__career-timeline-list .p-about__career-timeline-list-item .p-about__career-timeline-list-item-date::before {
  content: "";
  position: absolute;
  left: 78px;
  top: 50%;
  transform: translateY(-50%);
  width: 10px;
  height: 10px;
  background-color: #3A72A7;
  border-radius: 50%;
}
.p-about .p-about__career .p-about__career-timeline .p-about__career-timeline-list .p-about__career-timeline-list-item .p-about__career-timeline-list-item-text {
  flex: 1;
  margin-left: 12px;
}

@media screen and (max-width: 1023px) {
  .p-about .p-about__about {
    flex-direction: column;
  }
  .p-about .p-about__about .p-about__about-context {
    width: 100%;
    margin-left: 0;
  }
  .p-about .p-about__about .p-about__about-img {
    justify-content: center;
    margin-top: 24px;
  }
  .p-about .p-about__skill .p-about__skill-inner {
    flex-direction: column;
    gap: 24px;
  }
  .p-about .p-about__skill .p-about__skill-img {
    width: 100%;
  }
  .p-about .p-about__skill .p-about__skill-context {
    width: 100%;
  }
}
@media screen and (max-width: 639px) {
  .p-about {
    padding: 100px 0;
  }
  .p-about .p-about__about .p-about__about-context {
    font-size: 14px;
    line-height: 28.8px;
  }
  .p-about .p-about__skill .p-about__skill-inner {
    margin-top: 16px;
  }
  .p-about .p-about__skill .p-about__skill-context {
    font-size: 14px;
    line-height: 28.8px;
  }
  .p-about .p-about__career .p-about__career-timeline {
    padding: 0;
  }
  .p-about .p-about__career .p-about__career-timeline::before {
    left: 81px;
  }
  .p-about .p-about__career .p-about__career-timeline .p-about__career-timeline-list .p-about__career-timeline-list-item .p-about__career-timeline-list-item-date {
    font-size: 14px;
    padding-right: 40px;
  }
  .p-about .p-about__career .p-about__career-timeline .p-about__career-timeline-list .p-about__career-timeline-list-item .p-about__career-timeline-list-item-date::before {
    width: 8px;
    height: 8px;
  }
  .p-about .p-about__career .p-about__career-timeline .p-about__career-timeline-list .p-about__career-timeline-list-item .p-about__career-timeline-list-item-text {
    font-size: 14px;
  }
}
.p-products {
  width: 82%;
  margin: auto;
  padding: 140px 0;
}
.p-products .p-products__header .p-products__header-img {
  display: block;
  width: 100%;
  position: relative;
  border: 1px solid #D9D9D9;
}
.p-products .p-products__header .p-products__header-img img {
  width: 100%;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
}
.p-products .p-products__header .p-products__header-title {
  font-size: 32px;
  font-weight: bold;
  margin-top: 20px;
}
.p-products .p-products__header .p-products__header-skill {
  font-size: 24px;
  color: #6D6D6D;
  margin-top: 12px;
}
.p-products .p-products__context {
  font-size: 18px;
  line-height: 36.8px;
  margin-top: 20px;
}
.p-products .p-products__detail {
  font-size: 16px;
  line-height: 30.8px;
  margin-top: 36px;
}
.p-products .p-products__detail .p-products__detail-link {
  font-weight: bold;
  color: #0B60B0;
}
.p-products .p-products__link {
  text-decoration: underline;
}
.p-products .p-products__back {
  display: flex;
  justify-content: flex-end;
  margin-top: 80px;
  padding-right: 7%;
}

@media screen and (max-width: 639px) {
  .p-products {
    width: 92%;
    padding-top: 80px;
    padding-bottom: 56px;
  }
  .p-products .p-products__header .p-products__header-title {
    font-size: 26px;
  }
  .p-products .p-products__header .p-products__header-skill {
    font-size: 18px;
  }
  .p-products .p-products__context {
    font-size: 18px;
    line-height: 32.8px;
  }
  .p-products .p-products__detail {
    font-size: 16px;
    line-height: 28.8px;
  }
  .p-products .p-products__back {
    padding-right: 8%;
    margin-top: 20px;
  }
}/*# sourceMappingURL=style.css.map */