@use "../foundation/color" as cl;
@use "../foundation/mixin" as bp;

.l-header {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 80px;
    padding: 0 40px;
    z-index: 1000;

    .l-header__logo {
        img {
            width: 60px;
            height: 60px;
        }
    }

    .l-header__nav {
        display: flex;
        gap: 60px;

        .l-header__nav-list {
            display: flex;
            align-items: center;
            gap: 50px;
        }

        .l-header__nav-icons {
            display: flex;
            align-items: center;
            gap: 20px;
        }
    }
}

@include mq(lg, max) {
    .l-header {
        padding: 20px 24px;

        .l-header__logo {

            img {
                width: 50px;
                height: 50px;
            }
        }

        .l-header__nav {
            display: none;
        }
    }
}

@include mq(sm, max) {
    .l-header {
        height: 70px;

        .l-header__logo {
            img {
                width: 40px;
                height: 40px;
            }
        }
    }
}