@use "../foundation/color" as cl;
@use "../foundation/mixin" as bp;

.l-body {
    background-color: cl.$c-bg;
}

.l-main {
    padding-top: 80px;
    padding-left: 7%;
    padding-right: 7%;
}

// コンテンツが少ない場合のレイアウト調整
.l-completed {
    display: grid;
    grid-template-rows: 1fr auto;
    min-height: 100vh;
}

@include bp.mq(sm, max) {
    .l-main {
        padding-left: 0;
        padding-right: 0;
        padding-top: 32px;
    }

    .l-section {
        padding: 0 5%;
    }
}