@use "../foundation/color" as cl;

.p-completed {
    width: 78%;
    margin: auto;
    padding-top: 120px;

    .p-completed__title {
        font-size: 48px;
        font-weight: bold;
    }

    .p-completed__text {
        margin-top: 24px;
    }

    .p-completed__button {
        margin-top: 24px;
    }
}