@use "../foundation/color" as cl;

.p-form {
    width: 100%;
    background-color: cl.$c-mainBackground;
    border-radius: 10px;
    margin: 0 auto;
    padding: 36px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 36px;

    input[type="email"],
    textarea {
        width: 100%;
        padding: 8px;
        margin-top: 5px;
        border: 1px solid cl.$c-gray;
        border-radius: 4px;
    }

    .p-form__name {
        padding: 8px;
        margin-top: 5px;
        border: 1px solid cl.$c-gray;
        border-radius: 4px;
    }

    .p-form__button {
        display: flex;
        justify-content: center;
        margin-top: 24px;
    }

    p {
        margin-top: 12px;
    }

    span {
        color: cl.$c-attention;
        margin-right: 2px;
    }
}