.p-index {
    .p-index-header {
        width: 100%;
    }
    .p-index-about {

        .p-index-about__profile {
            display: flex;
            justify-content: space-between;
            margin-top: 36px;

            .p-index-about__profile-img-wrap {
                width: 30%;
            }

            .p-index-about__profile-img {
                width: 200px;
                height: 200px;
                object-fit: cover;
                object-position: top;
                border-radius: 50%;
            }

            .p-index-about__profile-text {
                width: 70%;
                display: flex;
                gap: 10px;
                flex-direction: column;
                justify-content: center;
            }
        }

        .p-index-about__icons {
            display: flex;
            gap: 20px;
            justify-content: end;
        }
    }

    .p-index-skills {

        .p-index-skills__text {
            margin-top: 36px;
        }
    
        .p-index-skills__cards {
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
            margin-top: 36px;
        }
    }

    .p-index-products {
        .p-index-products__cards {
            margin-top: 36px;
            display: flex;
            gap: 20px;
        }
    }

    .p-index-contact {
        margin-bottom: 120px;

        .p-index-contact__context {
            margin-top: 36px;
            line-height: 36px;
        }
    }
}