@use "../foundation/color" as cl;

.c-productCard {
    width: 100%;

    .c-productCard__img {
        display: block;
        width: 100%;
        object-fit: cover;

        img {
            width: 100%;
            height: auto;
            aspect-ratio: 340 / 240;
        }
    }

    .c-productCard__title {
        font-size: 20px;
        margin-top: 12px;
    }

    .c-productCard__skill {
        font-size: 14px;
        color: cl.$c-skillFont;
    }
}