.c-productCard {
    width: 33%;

    .c-productCard__link {
        cursor: pointer;

        &:hover {
            opacity: 0.8;
        }
    }

    .c-productCard__img {
        object-fit: cover;
        aspect-ratio: 380 / 250;

        img {
            width: 100%;
            height: 100%;
        }
    }

    .c-productCard__context {
        margin-top: 10px;

        .c-productCard__context-skill {
            margin-top: 8px;
        }
    }
}