@use "../foundation/color" as cl;
@use "../foundation/mixin" as bp;

.c-typing {

    .c-typing-effect {
        width: 17ch;
        animation: typing 3s steps(23), effect .5s step-end infinite alternate;
        white-space: nowrap;
        overflow: hidden;
        border-right: 1px solid cl.$c-mainFont;
        font-family: monospace;
        font-size: 1em;
    }
}


@keyframes typing {
    from {
        width: 0
    }
}

@keyframes effect {
    50% {
        border-color: transparent
    }
}

@include bp.mq(sm, max) {
    .c-typing {
        .c-typing-effect {
            width: 23ch;
        }
    }
}